train2/
image_examples.jpg
expained_variance.jpg
movies_complete.csv
1_פתרון_מטלה_1.ipynb
.cache
".ipynb_checkpoints/1_\327\244\327\252\327\250\327\225\327\237_\327\236\327\230\327\234\327\224_1-checkpoint.ipynb"
.ipynb_checkpoints/Project_02_Importing_API_JSON_Movies-checkpoint.ipynb
.ipynb_checkpoints/cats_vs_dogs-checkpoint.ipynb
.ipynb_checkpoints/genre_classification-checkpoint.ipynb
Project_02_Importing_API_JSON_Movies.ipynb
fashion_mnist.dot
".ipynb_checkpoints/1_\327\244\327\252\327\250\327\225\327\237_\327\236\327\230\327\234\327\224_1-checkpoint.ipynb"